<div class="form-container">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <h3>Alterar Senha</h3>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>ID:</mat-label>
        <input matInput type="text" formControlName="id" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Digite a senha atual:</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched">
          Senha atual é obrigatória
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Digite a nova senha:</mat-label>
        <input matInput type="password" formControlName="newPassword">
        <mat-error *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
          Nova senha é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirme novamente a nova senha:</mat-label>
        <input matInput type="password" formControlName="newPasswordConfirmation">
        <mat-error *ngIf="passwordForm.get('newPasswordConfirmation')?.invalid && passwordForm.get('newPasswordConfirmation')?.touched">
          Confirmação de nova senha é obrigatória
        </mat-error>
      </mat-form-field>
    </div>

    <mat-error *ngIf="errorFromServer().length > 0">
      {{ errorFromServer() }}
    </mat-error>

    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid || passwordForm.pending">
        Alterar
      </button>
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>