<div class="mat-elevation-z2" *ngIf="dataSource.data.length > 0; else noEmployees">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.id }} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.firstName }} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.lastName }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.email }} </td>
    </ng-container>

    <ng-container matColumnDef="documentNumber">
      <th mat-header-cell *matHeaderCellDef> Documento </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.documentNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef> Data Nasc. </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.birthDate | date:'dd/MM/yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="jobLevel">
      <th mat-header-cell *matHeaderCellDef> Nível </th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.jobLevel !== undefined && employee.jobLevel !== null ? JobLevelEnum[employee.jobLevel] : 'N/A' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Telefone </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.phoneNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Ativo </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.active ? 'Sim' : 'Não' }} </td>
    </ng-container>

    <ng-container matColumnDef="managerId">
      <th mat-header-cell *matHeaderCellDef> Gerente ID </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.managerId || 'N/A' }} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Criado Em </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.createdAt | date:'dd/MM/yyyy hh:mm:ss' }} </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef> Atualizado Em </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.updatedAt | date:'dd/MM/yyyy hh:mm:ss' }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let employee">
        <button mat-icon-button color="primary" (click)="editEmployee(employee)" aria-label="Editar funcionário">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<ng-template #noEmployees>
  <p>Nenhum funcionário para exibir.</p>
</ng-template>