<div class="form-container">
  <h2>Lista de Funcionários</h2>

  <div class="search-actions">
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Digite o e-mail</mat-label>
      <input matInput [(ngModel)]="inputSearch" />
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" (click)="employeesFind('email')">Buscar</button>
      <button mat-raised-button color="accent" (click)="employeesFind('all')">Buscar todos</button>
      <button mat-raised-button color="warn" (click)="newEmployee()">Novo Funcionário</button>
    </div>
  </div>

  <div class="table-container">
    <app-employee-table
      [employees]="employees()"
      (editEmployeeEvent)="onEmployeeEdit($event)"
    ></app-employee-table>
  </div>
</div>